<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>
	
		<typeAliases>
			<typeAlias alias="Patent" type="ideaStreet.domain.Patent"/>
			<typeAlias alias="FirstColumn" type="ideaStreet.domain.FirstColumn"/>
			<typeAlias alias="SecondColumn" type="ideaStreet.domain.SecondColumn"/>
			<typeAlias alias="Page" type="ideaStreet.domain.Page"/>
			<typeAlias alias="PatentSearchCondition" type="ideaStreet.domain.PatentSearchCondition"/>
			<typeAlias alias="ColumnCount" type="ideaStreet.domain.ColumnCount"/>	
			<typeAlias alias="Notice" type="ideaStreet.domain.Notice"/>
			<typeAlias alias="News" type="ideaStreet.domain.News"/>
			<typeAlias alias="NewsType" type="ideaStreet.domain.NewsType"/>
			<typeAlias alias="NewsImg" type="ideaStreet.domain.NewsImg"/>
			<typeAlias alias="NewsSearchCondition" type="ideaStreet.domain.NewsSearchCondition"/>
			<typeAlias alias="User" type="ideaStreet.domain.User"/>
			<typeAlias alias="Article" type="ideaStreet.domain.Article"/>
			<typeAlias alias="ArticleImg" type="ideaStreet.domain.ArticleImg"/>
			<typeAlias alias="ArticleType" type="ideaStreet.domain.ArticleType"/>
			<typeAlias alias="Vote" type="ideaStreet.domain.Vote"/>
			<typeAlias alias="ArticleComment" type="ideaStreet.domain.ArticleComment"/>
			<typeAlias alias="NewsComment" type="ideaStreet.domain.NewsComment"/>		
			<typeAlias alias="PatentStatus" type="ideaStreet.domain.PatentStatus"/>		
			<typeAlias alias="PatentRemark" type="ideaStreet.domain.PatentRemark"/>		
			<typeAlias alias="PatentType" type="ideaStreet.domain.PatentType"/>		
			<typeAlias alias="MobilePatent" type="ideaStreet.domain.MobilePatent"/>
			<typeAlias alias="WeChatOrder" type="ideaStreet.domain.WeChatOrder"/>		
		</typeAliases>
		

</configuration>