<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:jee="http://www.springframework.org/schema/jee"  
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/jee 
							http://www.springframework.org/schema/jee/spring-jee-4.2.xsd">
	
	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/pmsDataSource" />  
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="patentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.PatentMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>	
	
	<bean name="patentDao" class="ideaStreet.dao.mybatis.PatentMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentMapper" ref="patentMapper" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>
	</bean>	
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>	
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
		
	
	<bean id="newsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.NewsMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="newsDao" class="ideaStreet.dao.mybatis.NewsMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="newsMapper" ref="newsMapper" />
	</bean>	
	
	<bean name="databaseAuthDao" class="ideaStreet.dao.DatabaseAuthProvider">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<bean id="articleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.ArticleMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="articleDao" class="ideaStreet.dao.mybatis.ArticleMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="articleMapper" ref="articleMapper" />
	</bean>
	
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.UserMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="userDao" class="ideaStreet.dao.mybatis.UserMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="userMapper" ref="userMapper" />
	</bean>
	
	<bean id="patentMobileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.PatentMobileMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="patentMobileDao" class="ideaStreet.dao.mybatis.PatentMobileMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentMobileMapper" ref="patentMobileMapper" />
	</bean>
	
	<bean id="articleMobileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.ArticleMobileMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="articleMobileDao" class="ideaStreet.dao.mybatis.ArticleMobileMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="articleMobileMapper" ref="articleMobileMapper" />
	</bean>
	
	<bean id="newsMobileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.NewsMobileMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="newsMobileDao" class="ideaStreet.dao.mybatis.NewsMobileMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="newsMobileMapper" ref="newsMobileMapper" />
	</bean>
	
	
	<bean id="weChatOrderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.WeChatOrderMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="weChatOrderDao" class="ideaStreet.dao.mybatis.WeChatOrderMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="brandMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="ideaStreet.dao.mapper.BrandMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="brandDao" class="ideaStreet.dao.mybatis.BrandMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="brandMapper" ref="brandMapper"/>
	</bean>
</beans>							