<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:jee="http://www.springframework.org/schema/jee"  
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/jee 
							http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">
	
	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/pmsDataSource" />  
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="patentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="zhuanli.dao.mapper.PatentMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>	
	
	<bean name="patentDao" class="zhuanli.dao.mybatis.PatentMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentMapper" ref="patentMapper" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
	</bean>	
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>	
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
		
	
	<bean id="newsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="zhuanli.dao.mapper.NewsMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	
	<bean name="newsDao" class="zhuanli.dao.mybatis.NewsMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="newsMapper" ref="newsMapper" />
	</bean>
	
	<bean name="databaseAuthDao" class="zhuanli.dao.DatabaseAuthProvider">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>							