<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	

	<bean name="patentService" class="zhuanli.service.impl.PatentServiceImpl">
		<constructor-arg ref="patentDao"/>
	</bean>
	
	<bean id="newsService" class="zhuanli.service.impl.NewsServiceImpl">
		<constructor-arg ref="newsDao"/>
	</bean>	
	
	<bean id="patentSearchService" class="zhuanli.service.impl.PatentSearchServiceImpl">
		<constructor-arg ref="patentSearchDao"/>
	</bean>
	
	<bean id="articleService" class="zhuanli.service.impl.ArticleServiceImpl">
		<constructor-arg ref="articleDao"/>
	</bean>	
	
	<bean id="userService" class="zhuanli.service.impl.UserServiceImpl">
		<constructor-arg ref="userDao"/>
	</bean>
	
	<bean name="patentMobileService" class="zhuanli.service.impl.PatentMobileServiceImpl">
		<constructor-arg ref="patentMobileDao"/>
	</bean>	
	
		<bean name="articleMobileService" class="zhuanli.service.impl.ArticleMobileServiceImpl">
		<constructor-arg ref="articleMobileDao"/>
	</bean>	
</beans>