body {
    font-size: 14px;
    color: #444;
    font-family: 'microsoft yahei', "Microsoft YaHei", "Î¢ÈíÑÅºÚ", Arial, "Lucida Grande", Tahoma, sans-serif;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    color: #777;
    font: normal 14px/180% "microsoft yahei",simhei;
    background-color: #fff;
}

html, body, div, table, td, tr, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, p, span, b, i, em, a, input {
    margin: 0;
    padding: 0;
    border: 0;
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    display: block;
    zoom: 1;
}
a {
    color: #222;
    text-decoration: none;
}

a:hover, a:active {color:#dd000a;text-decoration:underline;}

.ml30 {
    margin-left: 30px;
}
.w280 {
    width: 280px;
}
.w1200 {
    width: 1200px;
}
.ma {
    margin: 0 auto;
}
.mt40{
	margin-top:40px;
}


.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt15 {
    margin-top: 15px;
}
.mt25 {
    margin-top: 25px;
}
.fx_top{
    background: #f2f2f2;
    height: 38px;
    border-bottom: 1px solid #e5e5e5;
}

.fx_top .wrap{
    width: 1200px;
    height: 38px;
    margin: 0px auto;
    line-height: 38px;
    font-size: 12px;
    color: #707070;
}
.fx_logo {
    width: 1100px;
    height: 60px;
    margin: 40px auto 18px auto;
}
.fx_nav {
    height: 75px;
    background: #db000a;
}
.fx_nav .wrap {
    width: 1200px;
    padding-top: 14px;
    margin: 0px auto;
	line-height:50px;
	height: 75px;	
}
.fx_nav .lf1 {
    width: 60px;
    float: left;
    border-right: 1px solid #ed0005;
    height: 50px;
    overflow: hidden;
}
.fx_nav .lf2 {
    width: 100px;
    float: left;
    border-right: 1px solid #ed0005;
    height: 50px;
    overflow: hidden;
}
.fx_nav .lf3 {
    width: 90px;
	padding-left: 10px;
    float: left;
    border-right: 1px solid #ed0005;
    height: 50px;
    overflow: hidden;
}
.fx_nav .lf4 {
    width: 260px;
    padding-left: 10px;
    float: left;
    height: 50px;

    overflow: hidden;
    border-right: 1px solid #ed0005;
}
.fx_nav .lf5 {
    width: 185px;
	padding-left: 10px;
    _width: 328px;
    float: left;
}
.fx_nav .lf6 {
    width: 185px;
	padding-left: 10px;
    _width: 328px;
    float: left;
}
.fx_nav .wrap p {
    clear: both;
    overflow: hidden;
}
.fx_nav .wrap a {
    color: #fff;
    font-size: 14px;
    padding-right: 12px;
    display: block;
    float: left;
}
.fx_nav .wrap a b {
    font-size: 18px;
}
strong, b {
    font-weight: bold;
}






.main_wrap {
    height: 370px;
    overflow: hidden;
}
.tFocus {
    position: relative;
    width: 580px;
    /* height: 358px; */
}
.tFocus_btn {
    position: absolute;
    width: 76px;
    height: 36px;
    top: 43px;
    right: 0;
    z-index: 555;
}
.tFocus_btn .prev {
    background-position: 0 0;
}
.tFocus_btn a {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin-left: 2px;
    background: url(../images/zx_sprite_01.png) #ccc no-repeat;
}
.tFocus_btn .next {
    background-position: -40px 0;
}
.tFocus_btn a {
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin-left: 2px;
    background: url(../images/zx_sprite_01.png) #ccc no-repeat;
}
.tFocus-pic {
    position: relative;
    padding-right: ;
    width: 580px;
    height: 362px;
}
.tFocus-pic:after {
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    content: "";
}

.tFocus-pic li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #fff;
}

.s_tit_wrap {
    float: left;
    width: 500px;
    height: 30px;
    overflow: hidden;
}
.s_pic_tit {
    font-size: 26px;
    line-height: 30px;
}
.slide_num {
    position: relative;
    float: right;
    width: 60px;
    height: 30px;
}
.slide_num em {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 16px;
    height: 30px;
    overflow: hidden;
    background: url(../images/zx_sprite_01.png) -55px -50px no-repeat;
}
.slide_num b {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 30px;
    color: #ba2636;
    font-weight: normal;
    font-family: arial;
}

.slide_num i {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    color: #222;
    font-family: arial;
}



.s_info {
    float: left;
    height: 44px;
    width: 460px;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}

.col_mod_0 .col_tit_wrap {
    height: 28px;
    padding-left: 0;
    background: none;
}
.col_tit_wrap {
    position: relative;
}
.col_mod_0 .col_tit_wrap {
    height: 28px;
    padding-left: 0;
    background: none;
}
.col_tit_wrap {
    position: relative;
}

.col_mod_0 .col_tit {
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    font-size: 22px;
    color: #222;
}

.news_mod .news_tit {
    font-size: 20px;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
}

.news_dis {
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
    line-height: 20px;
}


.tp_block {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 0 6px;
    color: #fff;
    font-size: 12px;
    background-color: #157efb;
    vertical-align: middle;
}
.tb_1 {
    background-color: #f86866;
	    color: #fff;
}
.news_dis {
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
    line-height: 20px;
}

.t_n_list li {
    float: left;
    width: 100%;
    height: 28px;
    overflow: hidden;
}
.col_mod .col_tit_wrap {
    height: 24px;
    padding-left: 10px;
    background: url(../images/zx_sprite_01.png) -80px -50px no-repeat;
}
.col_mod .col_tit {
    font-size: 20px;
    line-height: 22px;
    color: #222;
}
.n_p_mod_0 {
    height: 94px;
    overflow: hidden;
    margin-top: 18px;
}
.n_p_mod_0 .n_pic {
    display: inline-block;
    width: 125px;
    height: 94px;
    overflow: hidden;
    margin-right: 10px;
    line-height: 0;
}
.n_tit {
    height: 30px;
    overflow: hidden;
    font-size: 26px;
    line-height: 30px;
    font-weight: normal;
}
.n_p_mod_0 .n_tit {
    font-size: 16px;
    line-height: 30px;
}
.news_list_dot li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 10px;
    background: url(../images/zx_sprite_01.png) -80px -156px no-repeat;
}
.title strong {
    display: block;
    text-align: center;
    line-height: 80px;
}
em, b, i, strong {
    font-style: normal;
    font-weight: 400;
}
.title strong a {
    display: inline;
    font-size: 20px;
    margin: 0 20px;
}


.c_box4 {
    width: 1200px;
    margin: 26px auto;
}
.c_box4 .left {
    width: 390px;
    float: left;
}
.c_box4 .mid {
    width: 390px;
    padding-left: 30px;
    float: left;
}
.c4_datu a {
    display: block;
    height: 260px;
    position: relative;
}
.c4_datu a img {
    display: block;
    z-index: 0;
}
.c4_datu a b {
    display: block;
    width: 360px;
    height: 40px;
    background: #000;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
    -moz-opacity: 0.5;
}
.c4_datu a span {
    width: 360px;
    height: 40px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.c4_zgjq {
    margin-top: 35px;
}
.com_ltred {
    font-size: 16px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 3px solid #db000a;
}
.list_com_tw {
    overflow: auto;
    margin-top: 20px;
}
.list_com_tw li {
    height: 100px;
    overflow: hidden;
    vertical-align: bottom;
}
.list_com_tw li span.p {
    width: 118px;
}

.list_com_tw li span {
    display: block;
    float: left;
}

.list_com_tw li span.c {
    float: right;
    width: 253px;
    font-size: 12px;
    font-family: "ËÎÌå";
    line-height: 24px;
    color: #707070;
}


.list_com_tw li h5 {
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    font-family: "Microsoft YaHei", "Î¢ÈíÑÅºÚ", Arial, "Lucida Grande", Tahoma, sans-serif;
}

.list_com_tw li span.c p a, .list_com_tw li span.c p a:visited {
    color: #707070;
    font-size: 12px;
}
.m4_first h2 {
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    height: 30px;
    line-height: 20px;
}
.m4_first p {
    white-space: nowrap;
    font-size: 12px;
    font-family: "ËÎÌå";
    color: #707070;
    border-bottom: 1px solid #dbe4e9;
    padding-bottom: 12px;
}
.m4_first p a {
    color: #707070;
}
.m4_first .list_com {
    margin-top: 8px;
}
.list_com {
    overflow: hidden;
}

.list_com li {
    height: 35px;
    background: #666;
    vertical-align: bottom;
    background: url(../images/dian.jpg) no-repeat left 9px;
    padding-left: 10px;
}


.list_com li a {
    display: block;
    font-size: 16px;
}
.m4_bx2 {
    margin-top: 20px;
}
.com_ltred {
    font-size: 16px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 3px solid #db000a;
}
.m4_bx2 .list_com_3 {
    margin-top: 18px;
}
.list_com_3 {
    overflow: hidden;
}

.list_com_3 dt {
    height: 35px;
    vertical-align: bottom;
    font-size: 16px;
    white-space: nowrap;
}

.list_com_3 dd {
    overflow: hidden;
    margin-bottom: 16px;
}
.m4_bx2 .list_com_3 dd a.dlimg {
    width: 146px;
}
.list_com_3 dd a, .list_com_3 dd a:visited {
    color: #707070;
}
.list_com_3 dd a.dlimg {
    width: 115px;
}
.list_com_3 dd a {
    display: block;
    float: left;
    line-height: 24px;
    font-size: 12px;
    font-family: "ËÎÌå";
}
.m4_bx2 .list_com_3 dd a.dlintro {
    width: 210px;
    word-break: break-all;
    color: #707070;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.list_com_3 dd a, .list_com_3 dd a:visited {
    color: #707070;
}
.list_com_3 dd a.dlintro {
    width: 195px;
    word-break: break-all;
    float: right;
    color: #707070;
    font-size: 12px;
}
.c_box4 .right {
    width: 350px;
    float: right;
}
.hq_hqqq .shenghuo {
    background: url(../images/shenghuo.jpg) no-repeat;
}
.hq_ylbg .paihang {
    background: url(../images/sh_paihang.jpg) no-repeat;
}
.hq_ylbg .cy_paihang {
    background: url(../images/cy_paihang.jpg) no-repeat;
}
.hq_hqqq .zhengce {
    background: url(../images/zhengce.jpg) no-repeat;
}
.com_titlebg {
    height: 30px;
    overflow: hidden;
    text-align: right;
}

.com_titlebg a, .com_titlebg a:visited {
    font-weight: normal;
    font-size: 12px;
    display: block;
    color: #707070;
    padding: 7px 2px 0px 0px;
}


.pdlf8 {
    padding-left: 8px;
    overflow: hidden;
}

.hq_hqqq .cc {
    height: 82px;
    background: #fbfbfb;
    margin-top: 16px;
}

.hq_hqqq .r {
    width: 86px;
    float: right;
}

.hq_hqqq .l {
    float: left;
    font-size: 16px;
    font-weight: bold;
    width: 196px;
    line-height: 28px;
    padding: 10px 0px 0px 8px;
}

.hq_hqqq .intro {
    font: normal 12px "ËÎÌå";
    line-height: 24px;
    color: #707070;
    padding-bottom: 10px;
    border-bottom: 1px dotted #afafaf;
    padding-top: 8px;
}

.com_a_color a, .com_acolor a:visited {
    color: #707070;
}

.hq_hqqq .list_com_4 {
    margin-top: 18px;
}

.list_com_4 li {
    display: block;
    height: 34px;
    overflow: hidden;
    background: #666;
    background: url(../images/dian.jpg) no-repeat left 7px;
    padding-left: 10px;
    vertical-align: bottom;
}

.list_com_4 li a {
    display: block;
    font-size: 14px;
    font-family: "ËÎÌå";
    white-space: nowrap;
}

.hq_ylbg .com_paihangbg {
    background: url(../images/sh_paihang.jpg) no-repeat;
    margin-top: 14px;
}
.com_paihangbg {
    height: 30px;
    overflow: hidden;
    text-align: right;
}

.rank_list li {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.rank_list .num_1 {
    background-color: #ea4a2d;
}
.rank_list .num_2 {
    background-color: #f19601;
}
.rank_list .num_3 {
    background-color: #f3d400;
}
.rank_list .r_num {
    display: inline-block;
    float: right;
    width: 22px;
    height: 20px;
    overflow: hidden;
    margin: 10px 0 0 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #a2a2a2;
}
.rank_list .num_1 {
    background-color: #ea4a2d;
}
.rank_list .num_2 {
    background-color: #f19601;
}
.rank_list .num_3 {
    background-color: #f3d400;
}


.z_box {
    width: 280px;
    height: 280px;
    overflow: hidden;
    position: relative;
	float:left;
	margin-right:20px;
}
.z_box a, .z_box a:visited, .z_box a:hover {
    color: #fff;
}
.z_box img {
    display: block;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.z_box h4 {
    height: 120px;
    line-height: 165px;
    position: absolute;
    background: url(../images/bg_hei.png) repeat-x bottom;
    bottom: -5px;
    left: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
}


