<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhuanli.dao.mapper.PatentMapper">
	
	<select id="getSecoundColumnPage"  resultType="Patent" parameterType="Page" >
		select s.price ,s.transaction_type,p.patent_name,s.patent_id,ss.patent_first_column_id,pt.patent_type_desc as patent_type_name
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id
			join sell_second_column ss on s.patent_second_column=ss.patent_second_column_id
			join patent_types pt on p.patent_type=pt.patent_type_id
				where s.patent_second_column in(
						select patent_second_column_id from sell_second_column where patent_first_column_id = #{id});
	
	</select>
	
	<select id="getSecoundColumn"  resultType="Patent" parameterType="int" >
		select s.price ,p.patent_name,s.patent_id
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id
				where s.patent_second_column in(
						select patent_second_column_id from sell_second_column where patent_first_column_id = #{id})  limit 0,9;
	
	</select>
	
	<select id="getPatents" parameterType="int" resultType="Patent">
	select s.price ,p.patent_name,s.patent_id,ss.patent_first_column_id
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id
			join sell_second_column ss on s.patent_second_column=ss.patent_second_column_id
				where status=1  limit 0,9;

	</select>	
	<select id="getNoticeById" parameterType="int" resultMap="TransactionNotice">
		<!-- 需要获得通知书名字 notice_name和 zipfile_name -->
		SELECT  n.notice_id,n.notice_name,n.zipfile_name,p.app_no,p.patent_name
		
		FROM notices n join patent p on n.patent= p.patent_id
		
		 WHERE notice_id=#{noticeId}
	</select>	

	<select id="getFirstId"  resultType="int" parameterType="int" >
		select patent_first_column_id
			from sell_second_column 
				where patent_second_column_id = #{patent_second_column_id};
	
	</select>
	
	<select id="getSecoundPatentPage"  resultType="Patent" parameterType="Page" >
		select s.price ,p.patent_name,s.patent_id
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id
				where s.patent_second_column = #{id};
	
	</select>
	
	<select id="getSecoundPatent"  resultType="Patent" parameterType="int" >
		select s.price ,p.patent_name,s.patent_id
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id
				where s.patent_second_column = #{id};
	
	</select>		

	<select id="getPatentById"  resultType="Patent" parameterType="long" >
		select s.price,s.patent_second_column,s.add_date,s.transaction_type,sc.patent_second_column_name,sc.patent_first_column_id,sf.patent_first_column_name,p.patent_status,ps.patent_status_desc,p.patent_name,p.app_no,p.app_person,p.app_date,p.patent_type,pt.patent_type_desc
			from sell_patent_goods s join patents p on s.patent_id=p.patent_id  
				join patent_types pt on p.patent_type=pt.patent_type_id
				join sell_second_column sc on s.patent_second_column=sc.patent_second_column_id
				left join patent_status ps on p.patent_status=ps.patent_status_id
				join sell_first_column sf on sc.patent_first_column_id=sf.patent_first_column_id
					where s.patent_id= #{patent_id}
						
	</select>
	
	<select id="getAllPatents" parameterType="int" resultType="Patent">
		select s.price,s.add_date,s.transaction_type,p.patent_name,p.app_no
		from sell_patent_goods s join patents p on s.patent_id=p.patent_id
			where s.status=1
	</select>
	
	
	<select id="getSonList"  resultType="Patent" parameterType="int" >
		select patent_second_column_id, patent_second_column_name
			from sell_second_column  where patent_first_column_id=#{i} 			
	</select>

	<select id="getSonListCount"  resultType="int" parameterType="int" >
		select count(*)
			from sell_patent_goods s 
				where s.patent_second_column in(
						select patent_second_column_id from sell_second_column where patent_first_column_id = #{j});
	
	</select>	
		
	<resultMap type="FirstColumn" id="AllColumnMap">
		<id property="id" column="firstColumnId"/>
		<result property="name" column="firstColumnName"/>
		<result property="firstCount" column="firstCount"/>
		<collection property="secondColumns" ofType="SecondColumn">
			<id property="id" column="secondColumnId"/>
			<result property="name" column="secondColumnName"/>
			<result property="secondCount" column="secondCount"/>
		</collection>
	</resultMap>
	
	<select id="selectAllColumns" resultMap="AllColumnMap">
		select f.patent_first_column_id firstColumnId, f.patent_first_column_name firstColumnName,sc.count firstCount, 
			s.patent_second_column_id secondColumnId, s.patent_second_column_name secondColumnName,scs.count secoundCount
		  from sell_first_column f join sell_second_column s on f.patent_first_column_id = s.patent_first_column_id 
		  join sell_count sc on f.patent_first_column_id=sc.id 	join sell_count scs on s.patent_second_column_id = scs.id
	</select>
	
	<select id="getColumnCount"  resultType="ColumnCount" >
		select id,count from sell_count;
	</select>		
	<select id="getCurrentTypeName" resultType="String" >
		select patent_second_column_name from sell_second_column where  patent_second_column_id=#{patent_second_column_id};
	</select>
	
	<select id="searchPatents" parameterType="PatentSearchCondition" resultType="Patent">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
		SELECT up.patent_id,up.price,up.patent_name,up.app_no ,sc.patent_first_column_id
		FROM
		(SELECT  sg.patent_id,sg.patent_second_column,sg.price,sg.status,sg.transaction_type,sg.add_date,sg.owner,p.patent_name,p.app_no
		FROM  sell_patent_goods sg LEFT JOIN patents p ON sg.patent_id = p.patent_id limit #{page.startIndex}, #{page.pageSize}) up
		join sell_second_column sc on up.patent_second_column=sc.patent_second_column_id
		WHERE 
		 		
			 	<if test="keyword != null">
					 up.app_no like #{keyword_pattern} or up.patent_name like #{keyword_pattern}
				</if>
	</select>
	
	
	<select id="searchPatentsCount" parameterType="PatentSearchCondition" resultType="int">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
		SELECT count(*)
		FROM
		(SELECT  sg.patent_id,sg.price,sg.status,sg.transaction_type,sg.add_date,sg.owner,p.patent_name,p.app_no
		FROM  sell_patent_goods sg LEFT JOIN patents p ON sg.patent_id = p.patent_id ) up
		WHERE 
		 
			 	<if test="keyword != null">
					up.app_no like #{keyword_pattern} or up.patent_name like #{keyword_pattern}
				</if>
	</select>	
	
	<resultMap type="Patent" id="TransactionPatent">
		<id property="patent_id" column="patent_id"/>
		<result property="app_no" column="app_no"/>
		<result property="patent_name" column="patent_name"/>
		<result property="patent_type_name" column="patent_type_name"/>
		<result property="price" column="price"/>
		<result property="patent_first_column_id" column="patent_first_column_id"/>
		<result property="patent_first_column_name" column="patent_first_column_name"/>
		
	</resultMap>	
	
	
		
	<select id="getNoticeByPatentno" parameterType="long" resultMap="TransactionNotice">
		<!-- 需要获得通知书名字 notice_name和 zipfile_name -->
		SELECT  notice_id,notice_name,zipfile_name
		FROM notices WHERE patent=#{patent_id}
	</select>		
	<resultMap type="Notice" id="TransactionNotice">
		<id property="noticeId" column="notice_id"/>
		<result property="name" column="notice_name"/>
		<result property="zipfileName" column="zipfile_name"/>
		<association property="patent"  javaType="Patent">
			<id property="patentId" column="patent_id"/>
			<result property="appNo" column="app_no"/>
			<result property="patentName" column="patent_name"/>
		</association>			
		
	</resultMap>		
		
		
	<select id="getPatentsByShopType" resultMap="TransactionPatent">
		SELECT p.patent_id, p.app_no,p.patent_name,pt.patent_type_desc as patent_type_name,s.price ,ss.patent_first_column_id,sf.patent_first_column_name
		FROM sell_patent_goods s 
		JOIN patents p ON s.patent_id=p.patent_id
		JOIN patent_types pt ON p.patent_type = pt.patent_type_id
		JOIN sell_second_column ss ON s.patent_second_column=ss.patent_second_column_id
		JOIN sell_first_column sf ON ss.patent_first_column_id=sf.patent_first_column_id
		WHERE sf.patent_first_column_id=#{shopType}
		limit #{page.startIndex}, #{page.pageSize}
	</select>	
	
	<select id="getPatentsByShopTypeCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM sell_patent_goods s 
		JOIN patents p ON s.patent_id=p.patent_id
		JOIN patent_types pt ON p.patent_type = pt.patent_type_id
		JOIN sell_second_column ss ON s.patent_second_column=ss.patent_second_column_id
		JOIN sell_first_column sf ON ss.patent_first_column_id=sf.patent_first_column_id
		WHERE sf.patent_first_column_id=#{shopType}
	</select>
	
				
		
		
</mapper>