<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ideaStreer.dao.mapper.PatentMobileMapper">
	<resultMap type="PatentStatus" id="PatentStatusResultMap">
		<id property="patentStatusId" column="patent_status_id"/>
		<result property="statusDescription" column="patent_status_desc"/>
	</resultMap>		
	
	<resultMap type="PatentType" id="PatentTypeResultMap">
		<id property="patentTypeId" column="patent_type_id"/>
		<result property="typeDescription" column="patent_type_desc"/>
	</resultMap>
	<resultMap type="MobilePatent" id="MobilePatentMap">
		<id property="patentId" column="patent_id"/>
		<result property="appNo" column="app_no"/>
		<result property="name" column="patent_name"/>
		<result property="appDate" column="app_date"/>
		<result property="appPerson" column="app_person"/>
		<result property="patentStatusText" column="patent_status_text"/>
		<result property="transactionStatus" column="transaction_status"/>
		<result property="createTime" column="create_time"/>
		<association property="patentStatus" resultMap="PatentStatusResultMap"/>
		<association property="patentType" resultMap="PatentTypeResultMap"/>
	</resultMap>

	<select id="getUserPatents" parameterType="Page" resultType="MobilePatent">
		select patent_id as patentId,patent_name as name from patents limit #{startIndex}, #{pageSize}
	</select>	
	<select id="getPatentById" parameterType="long"  resultMap="MobilePatentMap">
		select p.patent_id,p.app_no,p.patent_name,p.patent_type,pt.patent_type_desc,p.app_person,p.app_date,p.patent_status_text,
			   p.create_time,ps.patent_status_desc,pt.patent_type_desc,p.transaction_status from patents p left join patent_status ps 
			   on p.patent_status=ps.patent_status_id left join patent_types pt on p.patent_type=pt.patent_type_id
			   where p.patent_id=#{patentId} 
	</select>
</mapper>